@charset "UTF-8";


body{
	font-family: raleway;
	background-color:white;
    height:100%;
}


/*Content Wrapper*/
#content_wrapper{
    min-height: 100%;
    position: relative;

}
/*Fixed Header*/
header{
	height: 60px;
	box-shadow: -1px 3px 4px #666666;
	-webkit-box-shadow: -1px 3px 4px #666666;
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    opacity: 1;
    background-color:white;
    opacity:0.8;
}
#logo{
    display:inline-block;
    height:60px;
    margin-left:90px;
}
#logo:before{
    content:"";
    display:inline-block;
    vertical-align: middle;
    height:100%;
}
#logo:after{
    content:"";
    display:inline-block;
    vertical-align: middle;
    height:100%;
}
ul{
    display:block;
	white-space: nowrap;
	overflow: hidden;
	float:right;
	position:relative;right:80px;
    margin-right:30px;
    font-family: 'Raleway'
}
li{
	list-style:none;
	display:inline-block;
    font-size:15px;
    font-weight:800 !important;
}





/*Animation*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2E33A3;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



/*Main Container*/

section.intro{
    position:relative;
	margin-top:60px;
	width: 100%;
	background-color:rgba(117, 217, 221, 0.5);
	height: 300px;
	font-family: raleway;
    padding-top:20px;
    z-index:-1;
}

.column{
	font-style: normal;
	font-weight:400;
	font-size: 20px;
    letter-spacing: 1px;
    color: 	black;
	width:55%;
	margin-left: 20px;
	margin-right:20px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
}
/*fadeIn Animation*/
yourElement{
    animation-duration: 3s;
    animation-delay: 2s;
}


a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/*Project Gallery*/
.gallery{
	width: 100%;
    margin-bottom:960px;
    z-index:-1;
    padding-left:50px;
    padding-right:50px;
}
.project1{
	float:left;
	width:30%;
	height:600px;
	background-color:white;
    padding-top:15px;
		
}
.project2{
	float:left;
	width:30%;
	height:600px;
	background-color:white;	
    padding-top:15px;
    margin-left:30px;
}
.cards{
    width:100%;
    height:auto;
    opacity: 0.9;
}
h4#MeUni_title{
    font-family: 'Raleway';
    color:black;
    margin-top:20px;
    margin-bottom: 0px;
    padding-left: 15px;
}
p#MeUni_briefintro{
    font-family: 'Open Sans';
    padding-left: 15px;
    color:#2E33A3;
}
/*Footer Section*/
footer{
    background-color: gainsboro;
    padding-top:60px;
    padding-bottom: 60px;
    width:100%;
    clear:both;
    margin-top:-450px;
    z-index;-1;
}
#intouch{
    font-weight: bolder;
    font-size:20px;
    text-align: center;
    font-family:'Raleway'
}
.button{
    width:200px;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-family:'Raleway';
    letter-spacing: 2px;
    border: 3px solid white;
    color:white;
    transition:all 0.3s linear;
}
.button:hover{
    background-color:rgba(117, 217, 221, 0.5);
    color:white;
    cursor:pointer;
}

/*Copy Right Declaration*/
.link-icon{
    margin-top:20px;
    text-align: center;
	margin-bottom: 40px;
}
.copyright{
    width:100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(117, 217, 221, 0.5);
    color:black;
    letter-spacing: 2px; 
    z-index:-1;
    font-family: 'Raleway'
}
img.svg social-link:hover path{
    fill: black;
}