@charset "UTF-8";

/*shared components*/
body{
	background-color:white;
    height:100%;
    position:relative;
}
/*Content Wrapper*/
#content_wrapper{
    min-height: 100%;
    position: relative;
}
/*Fixed Header*/
header#my_header{
	height: 60px;
	box-shadow: -1px 3px 4px #666666;
	-webkit-box-shadow: -1px 3px 4px #666666;
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    opacity: 1;
    background-color:white;
    opacity:0.9;
}
ul{
    display:block;
	white-space: nowrap;
	overflow: hidden;
	float:right;
	position:relative;right:80px;
    margin-right:30px;
    font-family: 'Raleway'
}
li{
	list-style:none;
	display:inline-block;
    font-size:15px;
    letter-spacing: 3px;
    font-weight:600 !important;
}
/*Animation*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(153, 109, 204);
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*Footer Section*/
div#contact{
    background-color:rgba(153, 109, 204, 1);
    padding-top:60px;
    padding-bottom: 60px;
    width:100%;
    
}
#intouch{
    font-size:20px;
    text-align: center;
    color:ghostwhite;
}
div#contact div.button{
    width:200px;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-family:'Raleway';
    letter-spacing: 2px;
    border: 3px solid white;
    color:white;
    transition:all 0.3s linear;
}
.button:hover{
    background-color:rgba(117, 217, 221, 0.5);
    color:white;
    cursor:pointer;
}
/*Copy Right Declaration*/
.link-icon{
    margin-top:20px;
    text-align: center;
	margin-bottom: 40px;
}
footer.copyright{
    width:100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(117, 217, 221, 0.5);
    color:black;
    letter-spacing: 2px; 
}
div.copyright p{
    font-size:14px;
    color:darkgray;
    text-align: center;
}
a#icon_source{
    color: dimgray;
    font-size: bold;
}
img.svg social-link:hover path{
    fill: black;
}
/*Index page*/
section.index_banner{
	margin-top:60px;
	width: 100%;
	background-color:rgba(117, 217, 221, 0.5);
	height: 300px;
	font-family: 'Raleway';
    padding-top:20px;
}
.column{
	font-style: normal;
	font-weight:400;
	font-size: 20px;
    letter-spacing: 1px;
    color: 	darkslategray;
	width:55%;
	margin-left: 20px;
	margin-right:20px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
}
/*fadeIn Animation*/
yourElement{
    animation-duration: 6s;
    animation-delay: 3s;
}
a.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
/*Project Gallery*/


.gallery_table_wrapper{
    display: inline-block;
    width: 100%;
}
.gallery_title{
	width: 100%;
    display: table;
    height:200px;
    z-index: -1;
 
}
.gallery_title h2{
    color:ghostwhite;
}
.gallery_title p{
    color:ghostwhite;
}
div.project1{
	width:50%;
	background-color:rgb(153, 109, 204);
    color:white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
div.project2{
	width:50%;
	background-color:darkseagreen;	
    color:white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
h4#MeUni_title{
    font-family: 'Raleway';
    color:black;
    margin-top:20px;
    margin-bottom: 0px;
    padding-left: 15px;
}
p#MeUni_briefintro{
    padding-left: 15px;
    color:rgb(72.51.153);
}
.gallery_pic_mockup{
    width: 100%;
    display: table;
    z-index: -1;
 
}
div#gallerypic_1{
    width: 50%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(153, 109, 204);
}
div#gallerypic_2{
    width: 50%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: darkseagreen;
}
img#gallery_meuni_mockup{
    max-height: 100%;
    max-width: 100%;
}
img#gallery_coursecatalog_mockup{
    max-height: 100%;
    max-width: 100%;
}
/*About_Me*/
/*Main Content begins!*/
/*Self-Introduction*/
section.self_introduction{
	margin-top:60px;
	background-color:white;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:150px;
    padding-left:150px;
    z-index:-1;
    line-height: 25px;
}

div.mountaingirl_flexbox{
    display: flex;
    flex-direction: row;
}
div.mountaingirl_pic{
    width:50%;
    
}
div.mountaingirl_intro{
    width:50%;
    padding-left:30px;
}
img#mountaingirl{
    max-height: 100%;
    max-width: 100%;
}
section.whatido{
	background-color:antiquewhite;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:150px;
    padding-left:150px;
    line-height: 25px;
}
div.whatido_flexbox{
    display: flex;
    flex-direction: row;
}
div.whatido_flexbox div#skill{
    width:33%;
    text-align: center;
}
section.whatiequip{
	background-color:azure;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:150px;
    padding-left:150px;
    line-height: 25px;
}
div.whatiequip_flexbox{
    display: flex;
    flex-direction: row;
}
div.whatiequip_flexbox div#trait{
    width:33.3%;
    text-align: center;
}
div.whatiequip_flexbox div#trait p{
    text-align: left;
    padding-right:15px;
    padding-left:15px;
}
section.myfacts{
	background-color:white;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:150px;
    padding-left:150px;
    line-height: 25px;
}
section.myfacts span{
    margin-right:10px;
}

/*MeUni*/
/*Title and Introduction*/
section.MEUNI_intro{
    position:relative;
	margin-top:60px;
	width: 100%;
	background-color:rgb(153, 109, 204);
    padding-top:20px;
    padding-bottom:20px;
    z-index:-1;
}
section.MEUNI_intro p{
    color:ghostwhite;
}
section.MEUNI_intro h2{
    color:ghostwhite;
}
.title{
    width:100%;
    font-size:30px;
    font-weight: 600;
    text-align: center;
}
.brief_intro{
    text-align: center;
}
.brief_intro p{
    width:100%;
    font-weight:400;
    font-size:18px;
    padding-top:20px;
    padding-bottom:20px;
    
}
/*Main Content*/
div#overview_wrapper{
    text-align: left;
}
/*Overiew*/
div#overview{
    padding-left: 150px;
    padding-right: 150px;
    padding-top:50px;
    padding-bottom: 50px;
}

h4#overview_h{
    text-decoration: underline;
    margin-bottom: 5px;
}
div#overview_detail{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
div#overview p{
  font-style: normal;
  text-align: left;
  line-height: 25px;
  font-size:16px;
  font-weight:lighter;
}
div.one_column{
    width:25%;
    padding-right: 10px;
}

div.two_column{
    width:25%;
    padding-right: 10px;
}
div.three_column{
    width:25%;
    padding-right:10px;
}
div.four_column{
    width:25%;
    padding-right:10px;
}
/*Design Process*/
section#design_process{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
    padding-left: 150px;
    padding-right: 150px;
}
section#design_process h4{
    color:darkslategray;
}
div#dp_img{
    display: flex;
    padding-top: 30px;
}
div.five_column{
    width:25%;
    text-align: center;
}
div.six_column{
    width:25%;
    text-align: center;
}
div.seven_column{
    width:25%;
    text-align: center;
}
div.eight_column{
    width:25%;
    text-align: center;
}
section#background{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    text-align:left;   
}

section#background p{
  font-style: normal;
  text-align: justify;
  text-justify:inter-ideograph;
  line-height: 25px;
  font-size:16px;
  font-weight:lighter;
}
/*Why Meditation*/
section#why_med{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    text-align:left; 
    background-color:rgba(235,255,255,1);
}
div#why_ad_r1{
    padding-top:30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
div#why_ad_r2{
    padding-top:30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
div.nine_column{
    width:50%;
    text-align: center;
}

div.ten_column{
    width:50%;
    text-align: center;
}
div.eleven_column{
    width:50%;
    text-align: center;
}
div.twelve_column{
    width:50%;
    text-align: center;
}
div#why_ad_r1 p{
    text-align: center;
}
div#why_ad_r2 p{
    text-align: center;
}

section#com_analysis{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 25px;
    font-size:16px;
    text-align:left; 
}
div.com_summary p{
  font-style: normal;
  text-align: left;
  font-weight:lighter;
}
div.com_table{
    text-align: center;
}
img#competitor_table{
    max-height: 100%;
    max-width: 100%;
}
/*Takeaways*/
div.takeaways_bullets{
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;
}
div.bullet_flexbox_row{
    display:flex;
    flex-direction: row;
}
div#thirdteen_column{
  width:100px;
  padding-top:38px;
  padding-left:50px;
}

div#fourteen_column{
    width:80%;
}
div#fifteen_column{
  width:100px;
  padding-top:38px;
  padding-left:50px;
}

div#sixteen_column{
    width:80%;
}
div#seventeen_column{
  width:100px;
  padding-top:38px;
  padding-left:50px;
}

div#eighteen_column{
    width:80%;
}
/*Problem Statement*/
section#problem_statement{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 25px;
    font-size:16px;
    text-align:left; 
}

div.problemstatement_flexbox_row{
    display:flex;
    flex-direction: row;
}
div.problemstatement_flexbox_row div{
    width:25%;
    padding-right: 30px;    
}

section#problem_statement h2#number{
    color:orange;
    margin-bottom: 0px;
}
/*Behavior Theory*/
section#behavior_factors{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 25px;
    font-size:16px;
    text-align:left; 
    background-color: rgba(235,255,255,1);
}

div.behavior_factors_flexbox_row{
    display:flex;
    flex-direction: row;
}
div.behavior_factors_flexbox_row div{
    width:33%;
    padding-right: 30px;
}
section#behavior_factors h2#number{
    color:orange;
    margin-bottom: 0px;
}

/*Solutions*/
section#solutions{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;
}
div.solutions_bullets_row{
    display:flex;
    flex-direction: row;
}
div.solutions_bullets_row em{
    color:rgb(72,51,153);
    margin-right: 10px;
}
div#twentyfive_column{
  width:100px;
  padding-top:30px;
  padding-left:50px;
}

div#twentysix_column{
    width:80%;
}
div#twentyseven_column{
  width:100px;
  padding-top:30px;
  padding-left:50px;
}

div#twentyeight_column{
    width:80%;
}
div#twentynine_column{
  width:100px;
  padding-top:35px;
  padding-left:50px;
}

div#thirty_column{
    width:80%;
}

div#thirtyone_column{
  width:100px;
  padding-top:30px;
  padding-left:50px;
}

div#thirtytwo_column{
    width:80%;
}
/*Brainstorming*/
section#brainstorming{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;
    overflow: hidden;
    background-color:rgb(153, 109, 204);    
}
section#brainstorming p{
    color:ghostwhite;
}

div.brainstorming_flexbox{
    display: flex;
    flex-direction: row;
    padding-top:30px;
}
div.brainstorming_flexbox p{
    color:ghostwhite;
}
div.brainstorming_discrip{
    width:50%;
    
}
div.brainstorming_discrip h4{
    margin-bottom:0;
}

div.brainstorming_pic{
    width:50%;
    padding-top: 30px;

}
div.brainstorming_pic img{
    max-height: 100%;
    max-width: 100%;
}
/*Information Architecture*/
section#IA{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;   
}
div.IA_pic{
    text-align: center;
}
img#IAflow{
    max-height: 100%;
    max-width: 100%;
}
/*design*/
section#design{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;   
    background-color: antiquewhite;
}
div.picture_set_flexbox{
    display: flex;
    flex-direction: row;
}
div.picture_set_flexbox div{
    width:33%;
}
img#taskflow{
    max-height: 100%;
    max-width: 100%;
}

div.UIflow_pic{
    text-align: center;
    padding-top:30px;
}
div.UIflow_pic p{
    text-align: left;
}
img#UIflow{
    max-height: 100%;
    max-width: 100%;
}
div.mockup{
    padding-top:30px;
    text-align: center;
}
img#homepagemock{
    max-height: 100%;
    max-width: 100%;
}
/*Reflection*/
section#reflections{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px;   
    background-color:white;
}
div.reflection_flexbox{
    display: table;
    width:100%;
}
div.iphone_mockup{
    width:30%;
    display: table-cell;
}
div.iphone_mockup img{
    max-height: 100%;
    max-width: 100%;
}
div.final_column{
    width: 70%;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

/*Next Project*/
section#next_project{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size:16px;
    line-height:25px; 
    background-color:rgb(153, 109, 204);
    color: ghostwhite;
}
section#next_project h4{
    color: ghostwhite;
}
section#next_project h2{
    color: ghostwhite;
}
div.next_project_flexbox{
    display: flex;
    flex-direction: row;
}
div.next_project_indicator{
    width:20%;
    text-align: center;
}
div.next_project_name{
    width:80%;
    padding-left: 150px;
}




/*Course Catalog*/
/*Banner*/
section.coursecatalog_banner{
    position:relative;
	margin-top:60px;
	width: 100%;
	background-color:darkseagreen;
    padding-top:20px;
    padding-bottom:20px;
    z-index:-1;
}
section.coursecatalog_banner p{
    color:ghostwhite;
}
section.coursecatalog_banner h2{
    color:ghostwhite;
}
section.coursecatalog_banner div.title{
    width:100%;
    font-size:30px;
    font-weight: 600;
    text-align: center;
}
section.coursecatalog_banner div.brief_intro{
    text-align: center;
}
section.coursecatalog_banner div.brief_intro p{
    width:100%;
    font-weight:400;
    font-size:18px;
    padding-top:20px;
    padding-bottom:20px;
    
}




/*slidein animation*/
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 


  /* Grow animation*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}