@charset "UTF-8";

/* iPhone 7 Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation: portrait), 
    screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3), 
    only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3), 
screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3){ 
      /*Shared Component*/
      /*Header*/
      label{
        display: block;
        cursor:pointer;
        margin-top:-35px;
      }
      .menu{
          text-align:center;
          width:100%;
          display:none;
      }
      .navlinks{
          margin:0;
          padding:0;
      }
      #navbutton{
          background-color:white;
          display:block;
          line-height:70px;
          border-bottom:1px solid #EAEAEB;
          margin-left:0;
          margin-right:0;
      }
      #toggle:checked + .menu{
          display:block;
      }
      /*Footer*/
      #contact{
          padding:20px 3px;
      }
      /*Copy Right Declaration*/
      .link-icon{
          margin-top:20px;
          text-align: center;
          margin-bottom: 40px;
      }
      .copyright{
          max-width:100%;
          height:auto;
          float:none;
          text-align: center;
          background-color: rgb(240,225,239);
          color:rgb(49,58,55);
      }
      div.copyright p{
          margin-left:20px;
          margin-right:20px;
          font-size:12px;
          color:rgb(90,90,90);
          text-align: center;
      }
      /*Index Page*/
      /*Banner*/
        .column{
            20px;
        }
      .index_banner{
          max-width:100%;
          height:auto;
          float:none;
      }
      .column{
          padding-right:20px;
          padding-left:20px;
      }
      /*Project Gallery*/
      .gallery-item-meuni{
          display:block;
          padding:20px;
      }
      .text-wraper-project-meuni{
          width:100%;
          text-align: center
      }
      .project-pic-container{
          display:none;
      }
      .gallery-item-coursectl{
          display:block;
          background-color: rgb(255,250,244);
          padding:20px;
      }
      .text-wraper-project-coursectl{
          width:100%;
          text-align: center;
      }
      p#desktop{
          display:none;
      }
      p#mobile{
          display:block;
          
      }
      .gallery_bttn:active{
          background-color: rgb(240,225,239);
      }
      /*MeUni Page Starts*/
     /*Change grid format*/
      
      #overview_detail{
          width:100%;
          font-size:12px;
          flex-direction: column;
      }
        .overview_grid_container{
            grid-template-columns: repeat(1, 1fr);
        }
        
    /****************/    
    /*Container*/
      .overview_wrapper{
          padding: 20px;
      }
      #dp_content{
          padding: 20px;
      }
      .background_container{
          padding: 20px;
       }
        .why_container{
            padding:20px;
        }
        .com_container{
            padding:20px;
        }
        .takeaways_contanier{
            padding:20px;
        }
        .problemstatement_container{
            padding:20px;
        }
        .behaviorfactors_container{
            padding:20px;
        }
        .solutions_container{
          padding:20px;
        }
        .IA_container{
          padding:20px;
        }
      .design_container{
          padding:20px;
        }
        .reflections_container{
          padding:20px;
        }
        /*********************/
        /*Flexbox*/
      div#thirdteen_column{
          width:10%;
          padding-left:0;
          padding-right:20px;
      }
      div#fifteen_column{
          width:10%;
          padding-left:0;
          padding-right:20px;
      }
      div#seventeen_column{
          width:10%;
          padding-left:0;
          padding-right:20px;
      }
      .problemstatement_flexbox_row{
          flex-direction: column;
      }
      div.problemstatement_flexbox_row div{
          width:100%
      }
      div.behavior_factors_flexbox_row{
          flex-direction: column;
      }
      div.behavior_factors_flexbox_row div{
          width:100%;
      }
      
      div#twentyfive_column{
          width:10%;
         padding-right:20px;
          padding-left:0;
      }
      div#twentyseven_column{
          width:10%;
          padding-right:20px;
          padding-left:0;
      }
      div#twentynine_column{    
          width:10%;
          padding-right:20px;
          padding-left:0;
      }
      div#thirtyone_column{
          width:10%;
          padding-right:20px;
          padding-left:0;
      }
      .brainstorming_container{
          padding:20px;
      }
      div.brainstorming_pic{
          width:100%;
      }
      div.brainstorming_text{
          width:100%;
      }
      
      div.brainstorming_flexbox{
          flex-direction: column;
      }
      
      div.picture_set_flexbox{
          display:none;
      }
      div.final_column{
          padding:10px;
          width:100%;
      }
      .nextproject_container{
          padding:20px;
      }
      div.next_project_name{
          padding-left: 100px
      }
      /*Course Catalog starts*/
    /*Container*/
        .course_catalog_com_container{
            padding:20px;
        }
        .course_catalog_problem_solution_container{
            padding:20px;
        }
        .course_catalog_interview_container{
            padding:20px;
        }
        .CA_flexbox_row{
            flex-direction: column;
        }
        .CA_flexbox_row div{
            width:100%;
        }
        .mural_container{
            display:none;
        }
        .course_catalog_content_inventory_container{
            padding: 20px;
        }
        .course_catalog_interview_takeaways_flexrow{
            flex-direction: column;
        }
        .interview_takeaways_flexbox{
            width:100%;
        }
        .interview_takeaways_flexbox span{
            margin:0 35%;
        }   
      .course_catalog_persona_container{
          padding:20px;
      }
      .course_catalog_wireframes_container{
          padding:20px;
      }
      .cardsorting_grid{
          grid-template-columns: 1fr;
      }


      /*About page starts*/
      .selfintro_container{
          padding:20px;
      }
      div.mountaingirl_flexbox{
          flex-direction: column;
      }
      div.mountaingirl_pic{
          width:100%;
      }
      div.mountaingirl_intro{
          width:100%;
          padding-left:0;
          margin-top:10px;
      }
      .whatido_container{
          padding:20px;
      }
      div.whatido_flexbox{
          flex-direction: column;
      }
      div.whatido_flexbox div#skill{
          width:100%;
          margin-top:10px;
      }
      .whatiequip_container{
          padding:20px; 
      }
      .whatiequip_flexbox{
          flex-direction: column;
      }
      div.whatiequip_flexbox div#trait{
          width:100%;
      }
      div.whatiequip_flexbox div#trait p{
          padding:0;
      }
      .myfacts_container{
          padding:20px;
      }     
      section.myfacts span{
          margin-right:0;
          margin-top:10px;
      }
          
}



/****************************************/
/* iPad Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}